-use yii\helpers\Html;
-$view->title = 'Corkboard - Writenator';
.corkboard
    .row
        .col.clearfix
            .cork-wrapper
                .pin
                .heading Test
                .content Test
        .col.clearfix
            .cork-wrapper
                .pin
                .heading Test
                .content Test
                .content Test
        .col.clearfix
            .cork-wrapper
                .pin
                .heading Test
                .content Test
                .content Test
                .content Test
        .col.clearfix
            .cork-wrapper
                .pin
                .heading Test
                .content Test
                .content Test
                .content Test
        .col.clearfix
            .cork-wrapper
                .pin
                .heading Test
                .content Test
                .content Test
                .content Test
        .col.clearfix
            .cork-wrapper
                .pin
                .heading Test
                .content Test
                .content Test
                .content Test
        .col.clearfix
            .cork-wrapper
                .pin
                .heading Test
                .content Test
                .content Test
                .content Test
        .col.clearfix
            .cork-wrapper
                .pin
                .heading Test
                .content Test
                .content Test
                .content Test
        .col.clearfix
            .cork-wrapper
                .pin
                .heading Test
                .content Test
                .content Test
                .content Test
