{:full-name "jacmoe/writenator"
 :ns-name   "jacmoe.writenator"
 :sanitized "jacmoe/writenator"
 :name      "writenator"
 :modules   {:root         "modules"
             :repositories [{:url  "https://github.com/kit-clj/modules.git"
                             :tag  "master"
                             :name "kit-modules"}]}}
