include partials/_top.php

doctype html
html(lang=Yii::$app->language)
  include partials/_head
  body
    -$view->beginBody()
    .wrap
        include partials/_header.php
        .container
            !=Alert::widget()
            !=$content
    include partials/_footer
    -$view->endBody()
-$view->endPage()