-use yii\helpers\Html
-use yii\bootstrap4\ActiveForm
-use kartik\date\DatePicker
-$view->title = 'Create plan - Writenator';
.plan-create.container
    h1 !=Html::encode($view->title)
    .row
        .col-lg-5
            -$form = ActiveForm::begin(['id' => 'update-form'])
            !=$form->field($model, 'title')
            !=$form->field($model, 'start')->widget(DatePicker::classname(), ['options' => ['value' => date("Y-m-d")],'pluginOptions' => ['autoclose'=>true,'format' => 'yyyy-mm-dd']])
            !=Html::label('Number of days')
            !=Html::textInput('numdays')
            !=$form->field($model, 'startamount')
            !=$form->field($model, 'goal')
            .form-group
                !=Html::submitButton('Create', ['class' => 'btn btn-primary', 'name' => 'update-button'])
                -ActiveForm::end()
