-use yii\helpers\Html
-use yii\bootstrap4\ActiveForm
-use kartik\date\DatePicker
-$view->title = 'Create plan - Writenator';
.plan-create
    h1 !=Html::encode($view->title)
    .row
        .col-lg-5
            -$form = ActiveForm::begin(['id' => 'update-form'])
            !=$form->field($model, 'title')
            !=DatePicker::widget(['type' => DatePicker::TYPE_RANGE,'name' => 'start','value' => date("d-M-Y"),'name2' => 'end','value2' => date("d-M-Y", strtotime($Date. ' + 29 days')),'separator' => '<i class="glyphicon glyphicon-resize-horizontal"></i>','layout' => $layout3,'pluginOptions' => ['autoclose' => true,'format' => 'dd-M-yyyy']])
            !=$form->field($model, 'goal')
            .form-group
                !=Html::submitButton('Create', ['class' => 'btn btn-primary', 'name' => 'update-button'])
                -ActiveForm::end()
