include partials/_index.php
.plan-index
    h1 !=Html::encode($view->title)
    p != Html::a(Yii::t('app', 'Create Plan'), ['create'], ['class' => 'btn btn-success'])
    include partials/_index_grid.php
