-use yii\helpers\Html;
-$view->title = 'Plans - Writenator';
.plan-index.container
    h1 !=Html::encode($view->title)
    .row
        .col
            p != Html::a(Yii::t('app', 'Create Plan'), ['create'], ['class' => 'btn btn-success'])
        .col
            -if(empty($plans)) {
                !="<p class='quiet'>No plans were found</p>"
            -}
            -if(!empty($plans)) {
                -$data = array()
                -foreach($plans as $plan) {
                    -echo app\widgets\ApexchartsWidget::widget(['plan_id' => $plan->id, 'title' => $plan->title, 'yaxis_max' => $plan->goal])
                -}
            -}
