-use yii\helpers\Html;
-$view->title = 'Plans - Writenator';
.plan-index.container
    .row
        .col
            -echo app\widgets\HeatWidget::widget()
    .row
        .col
            -echo number_format($totalwords) . " words written."
    hr
    .row
        .col
            != Html::a(Yii::t('app', 'Add Global Wordcount'), ['entry/create'], ['class' => 'btn btn-success btn-sm'])
    hr
    h2
    |    Goals
    hr
    .row
        .col
            -if(empty($plans)) {
                !="<p class='quiet'>No plans were found</p>"
            -}
            -if(!empty($plans)) {
                -$data = array()
                -foreach($plans as $plan) {
                    div !=$plan->title
                    -echo app\widgets\ApexchartsWidget::widget(['plan_id' => $plan->id, 'render' => false])
                    -echo app\widgets\ApexchartsWidgetEntries::widget(['plan_id' => $plan->id, 'render' => false])
                    hr
                    != Html::a(Yii::t('app', 'View'), ['view', 'id' => $plan->id], ['class' => 'btn btn-success btn-sm'])
                    nbsp
                    != Html::a(Yii::t('app', 'Add Local Wordcount'), ['entry/create', 'plan_id' => $plan->id, 'index' => 1], ['class' => 'btn btn-warning btn-sm'])
                    hr
                -}
            -}
    .row
        .col
            p != Html::a(Yii::t('app', 'Create New Goal'), ['create'], ['class' => 'btn btn-success'])
