-use yii\helpers\Html;
-$view->title = 'Update plan - Writenator';
.plan-update
    h1 !=Html::encode($view->title)
    p != Html::a(Yii::t('app', 'Create Plan'), ['create'], ['class' => 'btn btn-success'])
    -if(empty($plans)) {
        !="<p class='quiet'>No plans were found</p>"
    -}
    -if(!empty($plans)) {
        -foreach($plans as $plan) {
            !=$plan->title
        -}
    -}
