-use yii\helpers\Html;
-$view->title = 'Plan ' . $plan->title . ' - Writenator';
.plan-index.container
    h1 !=Html::encode($view->title)
    .row
        .col
            -echo app\widgets\ApexchartsWidget::widget(['plan_id' => $plan->id, 'yaxis_max' => $plan->goal, 'day_count' => $plan->daycount, 'start' => $plan->start, 'end' => $plan->end])
        .col
            -echo app\widgets\ApexchartsWidgetEntries::widget(['plan_id' => $plan->id, 'yaxis_max' => $plan->goal, 'day_count' => $plan->daycount])
    hr
    p != Html::a(Yii::t('app', 'Update Plan'), ['update', 'id' => $plan->id], ['class' => 'btn btn-success'])
    p != Html::a(Yii::t('app', 'Create Plan'), ['create'], ['class' => 'btn btn-success'])
