-use yii\helpers\Html;
-$view->title = $plan->title . ' - Writenator';
.plan-index.container-fluid
    h1 !=Html::encode($plan->title)
    - if($plan->status == 'progressing') {
    != Html::a(Yii::t('app', 'Add Wordcount'), ['entry/create', 'plan_id' => $plan->id, 'index' => 0], ['class' => 'btn btn-success btn-sm right'])
    - }
    .row
        .col
            -echo app\widgets\ApexchartsWidget::widget(['plan_id' => $plan->id])
        .col
            -echo app\widgets\ApexchartsWidgetEntries::widget(['plan_id' => $plan->id])
    hr
    != Html::a(Yii::t('app', 'Edit Plan'), ['edit', 'id' => $plan->id], ['class' => 'btn btn-warning btn-sm'])
    |      
    - if($plan->status == 'progressing') {
    != Html::a(Yii::t('app', 'Add Wordcount'), ['entry/create', 'plan_id' => $plan->id, 'index' => 0], ['class' => 'btn btn-success btn-sm'])
    - }
    |      
    //!= Html::a(Yii::t('app', 'Delete Plan'), ['delete', 'id' => $plan->id], ['class' => 'btn btn-danger btn-sm'])