-use yii\helpers\Html;
-$view->title = $plan->title . ' - Writenator';
.plan-index.container-fluid
    h1 !=Html::encode($plan->title)
    .row
        .col
            -echo app\widgets\ApexchartsWidget::widget(['plan_id' => $plan->id])
        .col
            -echo app\widgets\ApexchartsWidgetEntries::widget(['plan_id' => $plan->id])
    hr
    != Html::a(Yii::t('app', 'Edit Plan'), ['edit', 'id' => $plan->id], ['class' => 'btn btn-warning btn-sm'])
    |      
    - if(!$ended) {
    != Html::a(Yii::t('app', 'Update Plan'), ['update', 'id' => $plan->id], ['class' => 'btn btn-success btn-sm'])
    - }