
/*******************************
            Divider
*******************************/

.ui.divider {
  margin: 1rem 0rem;
  line-height: 1;
  height: 0em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*--------------
      Basic
---------------*/

.ui.divider:not(.vertical):not(.horizontal) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*--------------
    Coupling
---------------*/

.ui.grid > .ui.divider {
  font-size: 1rem;
}

/*--------------
   Horizontal
---------------*/

.ui.horizontal.divider {
  position: relative;
  height: auto;
  margin: '';
  overflow: hidden;
  line-height: 1;
  text-align: center;
}

.ui.horizontal.divider:before,
.ui.horizontal.divider:after {
  position: absolute;
  content: '';
  z-index: 3;
  width: 50%;
  top: 50%;
  height: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ui.horizontal.divider:before {
  margin-left: -webkit-calc(-50% -  1em );
  margin-left: calc(-50% -  1em );
}

.ui.horizontal.divider:after {
  margin-left: 1em;
}
