-$view->title = 'Writenator';
.site-index.container
    h1 Writenator
    p.lead Where writers procrastinate
    .row
        .col
            -echo app\widgets\HeatWidget::widget()
    .row
        .col
            -echo number_format($totalwords) . " words written"
    hr

