-use yii\helpers\Html
-use yii\bootstrap4\ActiveForm
-use kartik\date\DatePicker
-$view->title = 'Add entry - Writenator';
.plan-create.container
    h1 !=Html::encode($view->title)
    .row
        .col-lg-5
            -$form = ActiveForm::begin(['id' => 'update-form'])
            !=$form->field($model, 'plan_id')->hiddenInput(['value' => $plan_id])->label(false)
            !=$form->field($model, 'entered')->hiddenInput(['value' => true])->label(false)
            !=$form->field($model, 'amount')
            !=$form->field($model, 'date')->widget(DatePicker::classname(), ['options' => ['value' => date("d-M-Y")],'pluginOptions' => ['autoclose'=>true,'format' => 'dd-M-yyyy']])
            .form-group
                !=Html::submitButton('Add', ['class' => 'btn btn-primary', 'name' => 'update-button'])
                -ActiveForm::end()
